@page "/products/list"

@attribute [Authorize(Policy = "Inventory")]

@inject NavigationManager _navigationManager


<h3>Product List</h3>
<br/>
<br/>
<SearchComponent OnSearch="HandleSearch"> </SearchComponent>
<br />

<_ProductListComponent SearchProductFilter="@productNameToSearch"></_ProductListComponent>
<br/>

<NavLink class="btn btn-primary" href="/products/add">Add Product</NavLink>


@code {
    private string? productNameToSearch;

    private void HandleSearch(string searchFilter)
    {
        productNameToSearch = searchFilter;
    }
}
