@page "/"

@inject IViewInventoriesByNameUseCase _ViewInventoriesByNameUseCase
<PageTitle>Home</PageTitle>

<br/>
<br/>

<ul>

@* @if(inventories is not null && inventories.Count > 0) *@
@if(inventories?.Any() == true)
{
    foreach(var inv in inventories)
    {
        <li>@inv.InventoryName</li>
    }
}
</ul>


@code{
    private List<Inventory>? inventories;


    protected override async Task OnInitializedAsync()
    {
        // In order to use the use case, we need to use 
        // Dependency Injection (DI) to get the use case instance.
        // Thus we need to inject the use case into this component.

        inventories = (await _ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}